In [4]:
#####Tuples
tuple_1 = ("Cosas", 40, 2.2)
tuple_1
type(tuple_1)
#Indexing
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(type(tuple_1[0]))
print(type(tuple_1[1]))
print(type(tuple_1[2]))
# Negative Indexing, get the value of the last element

tuple_1[-1]
####Concatenate Tuples
tuple_2 = tuple_1 + ('Morado', 10)
tuple_2
##Slicing
tuple_2[0:3]
# Getting the last tu element

tuple_2[3:5]
# Lenght of the tuple

len(tuple_2)
##Sorting
results = (8, 5, 22, 57, 1, 3, 7, 48, 22, 44)
# Sorting the tuple

results_sorted = sorted(results)
results_sorted
##Nested Tuple
# Create a nest tuple

nested_tuple = (1, 2, ('yolotl', 'Pinguino'), (3, 4), ('silla', (1, 2)))
# Print the element of each index

print("Element 0 of Tuple: ", nested_tuple[0])
print("Element 1 of Tuple: ", nested_tuple[1])
print("Element 2 of Tuple: ", nested_tuple[2])
print("Element 3 of Tuple: ", nested_tuple[3])
print("Element 4 of Tuple: ", nested_tuple[4])
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   nested_tuple[2][0])
print("Element 2, 1 of Tuple: ",   nested_tuple[2][1])
print("Element 3, 0 of Tuple: ",   nested_tuple[3][0])
print("Element 3, 1 of Tuple: ",   nested_tuple[3][1])
print("Element 4, 0 of Tuple: ",   nested_tuple[4][0])
print("Element 4, 1 of Tuple: ",   nested_tuple[4][1])
# Print the first element in the second nested tuples

nested_tuple[2][1][0]
# Finding index
nested_tuple.index(('yolotl', 'Pinguino'))

Cosas
40
2.2
<class 'str'>
<class 'int'>
<class 'float'>
Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('yolotl', 'Pinguino')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('silla', (1, 2))
Element 2, 0 of Tuple:  yolotl
Element 2, 1 of Tuple:  Pinguino
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  silla
Element 4, 1 of Tuple:  (1, 2)

2

In [6]:
##Lists
L = ["Pinguino moradoo", 3.141595, 1995]
L

# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

##List Content
L = ["Pinguino moradoo", 3.1416, 1968, "EP", 1]
L

# Slicing a List
L[2:4]
[1995, 'EP']
# Extend to add new elements to the list

L = ["Pinguino moradoo", 1968]
L.extend(['bonito', 10])
L

# Appen to add an elements to the list

L = ["Pinguino moradoo", 1968]
L.append(['bonito', 10])
L

# Change and element based on index

A = ['silla', 10, 3.1416]
print('Before change:', A)
A[0] = 'cobija'
print('After change:', A)

# Delete an element based on its index

print('Before change:', A)
del(A[0])
print('After change:', A)

# Split a string by space
'bonito'.split()

# Split by a comma
'1, 2, 3, 4, 5'.split(',')

the same element using negative and positive indexing:
 Postive: Pinguino moradoo
 Negative: Pinguino moradoo
the same element using negative and positive indexing:
 Postive: 3.141595
 Negative: 3.141595
the same element using negative and positive indexing:
 Postive: 1995
 Negative: 1995
Before change: ['silla', 10, 3.1416]
After change: ['cobija', 10, 3.1416]
Before change: ['cobija', 10, 3.1416]
After change: [10, 3.1416]

['1', ' 2', ' 3', ' 4', ' 5']

In [7]:
##Copy and Clone List
A = ['morado', 10, 3.1416]
B = A
print('A:', A)
print('B:', B)

# Copy by reference, changing value of index 0 of first list
A[0] = 'muneca'
B

# Clone (clone by value) the list A
B = A[:]
B

# Verify that changing list A, list B is not changing
A[0] = 'morado'
B

# Concatenate lists
A + B

A: ['morado', 10, 3.1416]
B: ['morado', 10, 3.1416]

['morado', 10, 3.1416, 'muneca', 10, 3.1416]

In [12]:
###Sets
cosas_moradas = {'cobija', 'silla', 'pinguino', 'tapete', 'chamarra'}
cosas_moradas

# Convert a list to a set
galeria_list = ['compu', 'almohada', 'pinguino', 'silla']
galeria_set = set(galeria_list)
galeria_set

####Set Operations
A = set(["cel", "agua", "morado"])
A

# Add element to the set
A.add("No Man")
A

# Remove an item of the list
A.remove("No Man")
A

# Verify if exist an element in the set

"morado" in A

True

In [8]:
####Sets Logic Operations
galeria_set1 = {'p√≠nguino', 'burrito', 'sillita'}
galeria_set2 = {'llavero', 'pluma azul', 'pluma morada'}

galeria_set1, galeria_set2

# Find the intersection
intersection = galeria_set1 & galeria_set2
intersection

# Elements only contained in set1
galeria_set1.difference(galeria_set2)

# Elements only contained in set2
galeria_set2.difference(galeria_set2)

# Intersetion of set1 in set2
galeria_set1.intersection(galeria_set2)

# Union of set1 and set2
galeria_set1.union(galeria_set2)

# Check superset
set(galeria_set1).issubset(galeria_set2)
False
# Check if subset

False

In [10]:
set(galeria_set2).issubset(galeria_set1)   

# Another example to check if subset

set({'comida'}).issubset(galeria_set2)

# Another example to check if superset

galeria_set1.issuperset({'comida', 'carro'})

False

###Dictionaries

In [14]:
# Create a dictionary
pain_of_salvation_albums = {"En Mexico": "1995", "morado barnie": "1996", \
                    "The Perfect Element Part I": "2000", "Remedy Lane": "2001", \
                    "BE": "2004", "Scarsick": "2007", "Road Salt One": "2010", \
                    "Road Salt Two": "2011", "Falling Home": "2014"}
pain_of_salvation_albums

{'En Mexico': '1995',
 'morado barnie': '1996',
 'The Perfect Element Part I': '2000',
 'Remedy Lane': '2001',
 'BE': '2004',
 'Scarsick': '2007',
 'Road Salt One': '2010',
 'Road Salt Two': '2011',
 'Falling Home': '2014'}

In [ ]:
# Access to the value by key