<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-DalinaV/blob/main/Modulo4_DalinaAideeVillaOcelotl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
#Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
df['a']

In [3]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [4]:
df['a'].unique()

array([1, 2])

In [5]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [7]:
# Write a line to file

sample_input_file2 = 'sample_input_file2.txt'
with open(sample_input_file2, 'w') as writefile:
    writefile.write("Hello I'm Dali and this is line number 1")

In [12]:
# Read file

with open(sample_input_file2, 'r') as test_write_file:
    print(test_write_file.read())

# Write more lines to file

with open(sample_input_file2, 'w') as write_file:
    write_file.write("Hello I'm Dalina A\n")
    write_file.write("I like Cumbia, Matematicas, blanco and Pop B\n")

De la era del romanticismo
Poet 1: Amado Nervo
Poet 2: Manuel Acuña
Poeta 3: Manuel M. Flores C

In [11]:
# Read file

with open(sample_input_file2, 'r') as write_file:
    print(write_file.read())

De la era del romanticismo
Poet 1: Amado Nervo
Poet 2: Manuel Acuña
Poeta 3: Manuel M. Flores C

In [10]:
# Sample list of text

Lines = ["Poet 1: Amado Nervo\n", "Poet 2: Manuel Acuña\n", "Poet 3: Manuel M. Flores C\n"]
Lines
['Poet 1: Amado Nervo\n',
 'Poet 2: Manuel Acuña\n',
 'Poet 3: Manuel M. Flores C\n']
# Write the strings in the list to text file

with open(sample_input_file2, 'w') as write_file:
    for line in Lines:
        print(line)
        write_file.write(line)


# Overwrite

with open(sample_input_file2, 'w') as write_file:
    write_file.write("De la era del romanticismo\n")
with open(sample_input_file2, 'r') as test_write_file:
    print(test_write_file.read())

# Write a new line to text file
with open(sample_input_file2, 'a') as test_write_file:
    test_write_file.write("Poet 1: Amado Nervo\n")
    test_write_file.write("Poet 2: Manuel Acuña\n")
    test_write_file.write("Poeta 3: Manuel M. Flores C\n")

Poet 1: Amado Nervo

Poet 2: Manuel Acuña

Poet 3: Manuel M. Flores C

De la era del romanticismo

In [ ]:
# Verify if the new line is in the text file

with open(sample_input_file2, 'r') as test_write_file:
    print(test_write_file.read())


with open(sample_input_file2, 'r+') as testwritefile:
    data = testwritefile.readlines()
    
    #write at beginning of file
    testwritefile.seek(0,0) 
   
    testwritefile.write("Ignacio Manuel Altamirano" + "\n")
    testwritefile.write("Efraín Huerta" + "\n")
    testwritefile.write("Salvador Novo" + "\n")
    testwritefile.write("terminado\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

In [9]:
# Copy file to another

with open(sample_input_file2,'r') as readfile:
    with open('sample_input_file3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)
# Verify if the copy is successfully executed

with open('sample_input_file2.txt','r') as testwritefile:
    print(testwritefile.read())

Ignacio Manuel Altamirano
Efraín Huerta
Salvador Novo
terminado
ña
Poeta 3: Manuel M. Flores C